{{!

	BLOG INFO
	- Configuration of this file is not required.

}}

	<!-- <header class="bloginfo transparent">
		<div class="title">
			{{#if @blog.logo}}
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" class="retina" alt="{{@blog.title}}"></a>
			{{else}}
				<a href="{{@blog.url}}">{{@blog.title}}</a>
			{{/if}}
		</div>
		<nav class="main light">
			{{navigation}}
			<ul>
				<li class="option drawernav"><span class="showdrawer"><i class="fa fa-navicon"></i></span></li>
			</ul>
		</nav>
	</header> -->
