{{!

	COVER - POST
	- Configuration of this file is not required.

}}

	{{#if image}}

		<section class="cover" data-height="100" data-opacity="0.3">
			<div class="background" style="background-image:url('{{image}}');"></div>
			<section class="postitem posttitle center wrapper">
				<ul class="meta">
					{{#foreach tags}}
						<li class="category"><a href="{{url}}">{{name}}</a></li>
					{{/foreach}}
					<li class="date"><a href="{{url}}"><time datetime="{{date format='YYYY-MM-DD'}}" >{{date format="MMMM Do, YYYY"}}</time></a></li>
				</ul>
				<h1 class="title">{{title}}</h1>
				<p class="excerpt"></p>
				{{#author}}
					<a href="{{url}}" class="author"><img src="{{image}}" alt="{{name}}">{{name}}</a>
				{{/author}}
			</section>
			<div class="mouse">
				<div class="scroll"></div>
			</div>
		</section>

	{{else}}

		<section class="postitem posttitle single wrapper">
			<ul class="meta">
				{{#foreach tags}}
					<li class="category"><a href="{{url}}">{{name}}</a></li>
				{{/foreach}}
				<li class="date"><a href="{{url}}"><time datetime="{{date format='YYYY-MM-DD'}}" >{{date format="MMMM Do, YYYY"}}</time></a></li>
			</ul>
			<h1 class="title">{{title}}</h1>
			<p class="excerpt"></p>
			{{#author}}
				<a href="{{url}}" class="author"><img src="{{image}}" alt="{{name}}">{{name}}</a>
			{{/author}}
		</section>

	{{/if}}
