{{! 
	
	FOOTER - POST
	- Configuration of this file is not required. 

}}

	{{#post}}
		<footer class="postinfo">
			<div class="default">
				<section class="socialoptions">
					<ul class="sharebuttons">
						<li><a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="socialdark twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="socialdark facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="socialdark google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" class="socialdark linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&amp;description={{encode title}}" onclick="window.open(this.href, 'pinterest-share', 'width=490,height=530');return false;" class="socialdark pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="mailto:?body={{url absolute="true"}}" class="socialdark email"><i class="fa fa-envelope"></i></a></li>
						<li><span class="socialdark closeshare"><i class="fa fa-times"></i></span></li>
					</ul>
				</section>
				<section class="authorinfo"> 
					{{#author}}<a href="{{url}}" class="authorname">{{#if image}}<img src="{{image}}" class="gravatar" alt="{{name}}"> {{/if}}{{name}}</a>{{/author}}
					<span class="authordate">Posted on {{date format="MMMM Do, YYYY"}}</span>
				</section>
				<ul class="postoptions">
					<li class="showcomments"><i class="fa fa-comments-o"></i>Comments</li>
					<li class="showsocial"><i class="fa fa-bookmark-o"></i>Share</li>
				</ul>
			</div>
			<div class="relatedposts">
				{{#prev_post}}
					<a href="{{url}}" class="previouspost">
						{{#if image}}<img src="{{image}}" alt="{{title}}">{{/if}}
						<div class="info">
							<span>Previous Post</span>
							<span class="title">{{title}}</span>
						</div>
					</a>
				{{/prev_post}}
				<span class="backtotop"><i class="fa fa-chevron-up"></i></span>
				{{#next_post}}
					<a href="{{url}}" class="nextpost">
						{{#if image}}<img src="{{image}}" alt="{{title}}">{{/if}}
						<div class="info">
							<span>Next Post</span>
							<span class="title">{{title}}</span>
						</div>
					</a>
				{{/next_post}}
			</div>
		</footer>
	{{/post}}

