{{!

  HEADER
  - Configuration of this file is not required.

}}

<header class="headroom">
  <div>
    <div class="inner top-bar__inner">
      <div class="top-bar__logo">
        <a href="/">
          <img src="{{asset "img/logo.svg"}}" alt="Syncano Logo" />
          <img class="white" src="{{asset "img/logo-white.svg"}}" alt="Syncano Logo" />
        </a>
      </div>
      <nav class="top-bar__nav">
        <div class="top-bar__nav__hamburger">
          <img class="jsHamburgerOpen" src="{{asset "img/hamburger.svg"}}" alt="hamburger icon" />
          <img class="close jsHamburgerClose" src="{{asset "img/close.svg"}}" alt="hamburger icon" />
        </div>
        <div class="top-bar__nav__menu">
          <ul>
            <li><a class="button button--noborder" href="/features/">Features</a></li>
            <li><a class="button button--noborder" href="/pricing/">Pricing</a></li>
            <li class="top-bar__nav__menu__item--customers"><a class="button button--noborder" href="/customers/">Customers</a></li>
            <li class="top-bar__nav__menu__item--docs"><a class="button button--noborder" href="http://docs.syncano.io/" target="_blank">Docs</a></li>
            <li><a class="button button--noborder" href="/help/">Help</a></li>
            <li><a class="button button--noborder is-active" href="{{@blog.url}}">Blog</a></li>
            <li><a class="button button--noborder" href="/?logIn">Log In</a></li>
            <li><a class="button top-bar__nav__menu__cta" href="/?signUp">Sign Up For Free</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="top-bar__submenu">
    <div class="inner">
      <div class="top-bar__submenu__title">
        Blog
      </div>
      <nav class="top-bar__submenu__categories">
        <ul>
          <li><a class="button button--noborder" href="/blog/tag/tutorials/">Tutorials</a></li>
          <li><a class="button button--noborder" href="/blog/tag/updates/">Updates</a></li>
          <li><a class="button button--noborder" href="/blog/tag/engineering/">Engineering</a></li>
          <li><a class="button button--noborder" href="/blog/tag/events/">Events</a></li>
          <li><a class="button button--noborder" href="/blog/tag/customers/">Customers</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <nav class="hamburger-menu">
    <div class="inner">
      <div class="hamburger-menu__menu">
        <ul>
          <li><a href="/features/">Features</a></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li><a href="/customers/">Customers</a></li>
          <li><a href="http://docs.syncano.io/" target="_blank">Docs</a></li>
          <li><a href="/help/">Help</a></li>
          <li><a href="{{@blog.url}}">Blog</a></li>
        </ul>
      </div>
      <div class="hamburger-menu__buttons">
        <ul>
          <li><a class="button button--large" href="/?logIn">Log In</a></li>
          <li><a class="button button--large button--featured" href="/?signUp">Sign Up For Free</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
