{{!

  HEADER
  - Configuration of this file is not required.

}}

<header class="headroom">
  <div class="top-bar__main">
    <div class="inner top-bar__inner">
      <div class="top-bar__logo">
        <a href="https://syncano.io/#/">
          <img src="{{asset "img/logo-white.svg"}}" alt="Syncano Logo" />
          <img class="white" src="{{asset "img/logo-white.svg"}}" alt="Syncano Logo" />
        </a>
      </div>
      <nav class="top-bar__nav">
        <div class="top-bar__nav__hamburger">
          <img class="jsHamburgerOpen" src="{{asset "img/hamburger.svg"}}" alt="hamburger icon" />
          <img class="close jsHamburgerClose" src="{{asset "img/close.svg"}}" alt="hamburger icon" />
        </div>
        <div class="top-bar__nav__menu top-bar__nav__menu__left">
          <ul>
            <li><a class="button button--noborder" href="https://syncano.io/#/features">Product</a></li>
            <li><a class="button button--noborder" href="https://syncano.io/#/pricing">Plans & Pricing</a></li>
            <li class="top-bar__nav__menu__item--docs"><a class="button button--noborder" href="https://syncano.github.io/syncano-node-cli/#/" target="_blank">Documentation</a></li>
            <li class="top-bar__nav__menu__item--social"><i class="fa fa-github"></i></li>
            <li class="top-bar__nav__menu__item--social"><i class="fa fa-slack"></i></li>
          </ul>
        </div>
        <div class="top-bar__nav__menu">
          <ul>
            <li><a class="button button--noborder button--right" href="https://syncano.io/#/signIn">Sign in</a></li>
            <li><a class="button button--noborder button--right" href="https://syncano.io/#/signUp">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="top-bar__submenu">
    <div class="inner">
      <div class="top-bar__submenu__title">
        <a href="{{@blog.url}}">
          Blog
        </a>
      </div>
      <nav class="top-bar__submenu__categories">
        <ul>
          <li><a class="button button--noborder" href="/tag/tutorials/">Tutorials</a></li>
          <li><a class="button button--noborder" href="/tag/updates/">Updates</a></li>
          <li><a class="button button--noborder" href="/tag/engineering/">Engineering</a></li>
          <li><a class="button button--noborder" href="/tag/events/">Events</a></li>
          <li><a class="button button--noborder" href="/tag/customers/">Customers</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <nav class="hamburger-menu">
    <div class="inner">
      <div class="hamburger-menu__menu">
        <ul>
          <li><a class="button button--noborder" href="/features/">Product</a></li>
          <li><a class="button button--noborder" href="/pricing/">Plans & Pricing</a></li>
          <li class="top-bar__nav__menu__item--docs"><a class="button button--noborder" href="https://syncano.github.io/syncano-node-cli/#/" target="_blank">Documentation</a></li>
          <li class="hamburger-menu__collapsable">
            <span class="hamburger-menu__collapsable__title">
              Blog
              <i class="hamburger-menu__collapsable__icon fa fa-chevron-down"></i>
            </span>
            <ul class="hamburger-menu__submenu">
              <li class="hamburger-menu__submenu__item"><a href="/tag/tutorials/">Tutorials</a></li>
              <li class="hamburger-menu__submenu__item"><a href="/tag/updates/">Updates</a></li>
              <li class="hamburger-menu__submenu__item"><a href="/tag/engineering/">Engineering</a></li>
              <li class="hamburger-menu__submenu__item"><a href="/tag/events/">Events</a></li>
              <li class="hamburger-menu__submenu__item"><a href="/tag/customers/">Customers</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
