{{! 
	
	POST - FOOTER
	- Configuration of this file is not required. 

}}

	<section class="postbottom wrapper">
		<div class="info">
			<div class="tags">
				{{#foreach tags}}
					<a class="tag {{encode name}}" href="{{url}}">{{name}}</a>
				{{/foreach}}
			</div>
			<div class="categories">
				{{#foreach tags}}
					<a class="category {{encode name}}" href="{{url}}">{{name}}</a>
				{{/foreach}}
			</div>
		</div>
		<div class="shareoptions">
			<a href="{{url absolute="true"}}" class="permalink">Permalink: {{url absolute="true"}}</a>
			<ul class="sharebuttons">
				<li>Share:</li>
				<li><a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}&amp;via=Syncano" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="socialdark twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="socialdark facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="socialdark google"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="mailto:?body={{url absolute="true"}}" class="socialdark email"><i class="fa fa-envelope"></i></a></li>
			</ul>
		</div>
	</section>