{{! 
	
	POST FORMAT - IMAGE
	- Configuration of this file is not required.  

}}

	<article class="postitem format-image {{post_class}} {{#if @first}}first{{/if}}">
		<div class="wrapper">
			<div class="content">
				<a href="{{url}}"><img src="{{image}}" alt="{{name}}"></a>
			</div>
			<ul class="meta">
				{{#foreach tags}}
					<li class="category {{encode name}}"><a href="{{url}}">{{name}}</a></li>
				{{/foreach}}
				<li class="date"><a href="{{url}}"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time></a></li>
			</ul>
			<h2 class="title"><a href="{{url}}">{{title}}</a></h2>
			<p class="excerpt">{{excerpt characters="340"}}&hellip;</p>
            {{#author}}
                <a href="{{url}}" class="author">{{#if image}}<img src="{{image}}" alt="{{name}}">{{/if}}{{name}}</a>
            {{/author}}
            <a class="readmore" href="{{url}}">Read more...</a>
		</div>
	</article>
