{{! 
	
	WIDGET - BLOG INFO
	- Configuration of this file is not required.  

}}

	<section class="widget blog_info">
		{{! WIDGET HEADER }}
		{{#if @blog.logo}}
			<a href="https://www.syncano.io/"><img src="/assets/img/logo_alt.svg" class="retina" alt="{{@blog.title}}"></a>
		{{else}}
			<a href="{{url}}"><h2>{{@blog.title}}</h2></a>
		{{/if}}
		<hr>
		{{! WIDGET CONTENT }}
		<p>{{@blog.description}}</p>
	</section>