{{! 
	
	WIDGET - SOCIAL SHARE
	- Configuration of this file is not required. 

}}
	
	{{#post}}
		<section class="widget socialshare">
			{{! WIDGET HEADER }}
			<h3 class="widget-title">Share</h3>
			<hr>
			{{! WIDGET CONTENT }}
			<div class="options">
				<a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="sharebutton twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>				
				<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="sharebutton facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>				
				<a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="sharebutton google"><i class="fa fa-google-plus"></i><span>Google+</span></a>			
				<a href="http://www.reddit.com/submit?url={{url absolute="true"}}&amp;title={{encode title}}" onclick="window.open(this.href, 'reddit-share', 'width=490,height=530');return false;" class="sharebutton reddit"><i class="fa fa-reddit"></i><span>Reddit</span></a>
				<a href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&amp;description={{encode title}}" onclick="window.open(this.href, 'pinterest-share', 'width=490,height=530');return false;" class="sharebutton pinterest"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
				<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" class="sharebutton linkedin"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>		
			</div>
		</section>
	{{/post}}