{{! 
	
	PAGE TEMPLATE
	- Configuration of this file is not required.  

}}
{{!< default}}

	{{#post}}

		{{> cover_post}}

		<section class="postcontents wrapper">
			{{content}}
		</section>

	{{/post}}

    <script type="text/javascript">
        analytics.page('Website', {
            Page: '',
            postId: '{{id}}',
            postClass: '{{post_class}}',
            datePublished: '{{date format="YYYY-MM-DD"}}',
            postAuthor: '{{author.name}}',
            tags: '{{tags}}'
        });
    </script>