{{! 
	
	POST TEMPLATE
	- Configuration of this file is not required.  

}}
{{!< default}}

	{{#post}}

		{{> cover_post}}

		<section class="postcontents wrapper">
			{{content}}
		</section>

		{{> post_footer}}

		{{> cta}}

		{{> author_profile}}

		{{> comments}}

		<script type="text/javascript">
			analytics.page('Website', {
				Page: '{{title}}'
			});
			analytics.track("Read Blog Post", {title: '{{title}}', category: '{{tags.0.name}}'});
			analytics.identify({lastBlogPost: {title: '{{title}}', category: '{{tags.0.name}}'}});
		</script>
	{{/post}}

