{{! 
	
	POST TEMPLATE
	- Configuration of this file is not required.  

}}
{{!< default}}

	{{#post}}

		{{> cover_post}}

		<section class="postcontents wrapper">
			{{content}}
		</section>

		{{> post_footer}}

		{{> author_profile}}

		{{> comments}}

        <script type="text/javascript">
            analytics.page('Website', {
                Page: '{{title}}'
            });
            // Update MixPanel and Intercom with Post Title and Category
	    analytics.track("Read Blog Post", {title: '{{title}}', category: '{{tags.0.name}}'});
	    analytics.identify({lastBlogPost: {title: '{{title}}', category: '{{tags.0.name}}'}});
        </script>
	{{/post}}

